.chat {
    width: 50em;
    height: 50em;
    background-color: #f5f5f5;
}

.chat__log {
    display: flex;
    flex-direction: column;
}

.chat__message {
    margin: 1ex;
    padding: 1ex;
    border-radius: 2px;
}

.chat__message--from-me {
    align-self: flex-end;
    background-color: #ffffff;
}

.chat__message--from-her {
    align-self: flex-start;
    background-color: #e0e0e0;
}
